<main>
  <div class="form-container">
    <div class="form-card">
      <div class="form-header">
        <h2 class="form-title">Create New User</h2>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <div class="form-group">
            <label for="username"
              >Username<span class="required-star">*</span></label
            >
            <input id="username" type="text" formControlName="username" />
          </div>

          <div class="form-group">
            <label for="email"
              >Email <span class="required-star">*</span></label
            >
            <input id="email" type="email" formControlName="email" />
            <div
              *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
              class="error-message"
            >
              Please enter a valid email.
            </div>
          </div>

          <div class="form-group">
            <label for="role">Role <span class="required-star">*</span></label>
            <select id="role" formControlName="role">
              <option value="" disabled selected>Select Role</option>
              <option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="password"
              >Password <span class="required-star">*</span></label
            >
            <input id="password" type="password" formControlName="password" />
            <div
              *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
              class="error-message"
            >
              Password must be at least 8 characters.
            </div>
          </div>
        </div>

        <div class="form-group submit-btn">
          <button type="submit" [disabled]="userForm.invalid">
            Create User
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
